    <style>
      body {
        font-family: sans-serif;
        background-color: #eb8934;
        padding: 10px;
      }
      h1 {
        color: #5e34eb;
      }
      code {
        background: #34eb52;
        padding: 2px 4px;
        border-radius: 4px;
      }
    </style>
